.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.03)
    ),
    url("https://www.teahub.io/photos/full/183-1839399_artistic-wallpaper-hd.jpg");
  background-size: cover;
  background-position: center;
}

form {
  background: rgba(255, 255, 255, 0.2);
  padding: 0px 60px;
  border-radius: 10px;
  backdrop-filter: blur(12px);
}

h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background: rgba(102, 51, 153, 0.852);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}